<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <!-- Logo -->
        <a class="navbar-brand brand-logo" href="/">
            <img src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png?size=4096"
                alt="logo" class="logo-dark">
        </a>
        <a class="navbar-brand brand-logo-mini" href="/"><img
                src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png?size=4096"></a>
        <!-- Logo:END -->
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Hinata</h5>
        <ul class="navbar-nav navbar-nav-right ml-auto">
            <% if (user) { %>
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                    aria-expanded="false">
                    <img class="img-xs rounded-circle ml-2"
                        src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64"
                        alt="Profile Image"><span
                        class="font-weight-normal"><%= user.username %>#<%= user.discriminator %></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <div class="dropdown-header text-center">
                        <img class="img-md rounded-circle"
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64"
                            alt="Profile Image">
                        <p class="mb-1 mt-3"><%= user.username %></p>
                        <p class="font-weight-light text-muted mb-0"><%= user.discriminator %></p>
                    </div>
                    <a class="dropdown-item" href="/profile"><i class="dropdown-item-icon icon-user text-primary">
                        </i>My Profile</a>
                    <a class="dropdown-item" href="/logout"><i class="dropdown-item-icon icon-power text-primary">
                        </i>Log Out</a>
                </div>
            </li>

            <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/login"><i class="icon-login"></i>Log In</a></li>
            <% } %>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>