<nav class="topnav navbar navbar-expand shadow navbar-dark bg-dark" id="sidenavAccordion">
    <img src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png?size=128" alt="Logo"
        class="img-fluid avatar avatar-xl avatar-img">
    <a class="navbar-brand" href="/">
        <%= bot.user.username %>
    </a>
    <button class="btn btn-icon btn-transparent-light order-1 order-lg-0 mr-lg-2" id="sidebarToggle"><i
            data-feather="menu"></i></button>
    <ul class="navbar-nav align-items-center ml-auto">
        <% if(user) { %>
        <li class="nav-item dropdown no-caret mr-2 dropdown-user">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
                href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <% if(user.avatar !== undefined && user.avatar !== null) { %>
                <img class="img-fluid"
                    src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64" />
                <% } else { %>
                <img class="img-fluid" src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png" />
                <% } %>
            </a>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <% if(user.avatar !== undefined && user.avatar !== null) { %>
                    <img class="dropdown-user-img" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64" />
                    <% } else { %>
                    <img class="dropdown-user-img" src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png" />
                    <% } %>
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name"><%= user.username %></div>
                        <div class="dropdown-user-details-email">#<%= user.discriminator %></div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/profile">
                    <div class="dropdown-item-icon"><i data-feather="user"></i></div>
                    Profile
                </a>
                <a class="dropdown-item" href="/logout">
                    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                    Logout
                </a>
            </div>
        </li>
        <% } else { %>
        <li class="nav-item mr-2">
            <a class="btn btn-icon btn-transparent-dark" href="/login" role="button" aria-haspopup="true"
                aria-expanded="false"><i data-feather="log-in"></i></a>
        </li>
        <% } %>
    </ul>
</nav>