<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="https://cdn.discordapp.com/avatars/<%= bot.user.id %>/<%= bot.user.avatar %>.png?size=64" alt="Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"><%= bot.user.username %></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <% if(user) { %>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <% if(user.avatar !== undefined && user.avatar !== null) { %>
                <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64"
                    class="img-circle elevation-2" alt="User Image" />
                <% } else { %>
                <img src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"
                    class="img-circle elevation-2" alt="User Image" />
                <% } %>
            </div>
            <div class="info">
                <a href="/user/me" class="d-block"><%= user.username %>#<%= user.discriminator %></a>
            </div>
        </div>
        <% } %>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <% if(user) { %>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <% user.guilds.forEach(guild => {
                            const permsOnGuild = new perms(guild.permissions);
                            if(!permsOnGuild.has('MANAGE_GUILD')) return;
                        %>
                        <li class="nav-item">
                            <% if(bot.guilds.cache.get(guild.id)) { %>
                            <a href="/guild/<%= guild.id %>" class="nav-link">
                                <% if(guild.icon != undefined && guild.icon != null) { %>
                                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=32"
                                    class="img-circle elevation-4" alt="User Image">
                                <% } else { %>
                                <img src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"
                                    class="img-circle img-size-32 elevation-4" alt="Default Icon" />
                                <% } %>
                                <p><%= guild.name %></p>
                                <p><i class="right fas fa-arrow-right nav-icon"></i></p>
                            </a>
                            <% } else { %>
                            <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id %>&guild_id=<%= guild.id %>&permissions=2146954487&redirect_uri=<%= encodeURIComponent(`${process.env.DOMAIN}`) %>/callback&scope=bot"
                                class="nav-link">
                                <% if(guild.icon != undefined && guild.icon != null) { %>
                                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=32"
                                    class="img-circle elevation-4" />
                                <% } else { %>
                                <img src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png"
                                    class="img-circle img-size-32 elevation-4" alt="Default Icon" />
                                <% } %>
                                <p><%= guild.name %></p>
                                <p><i class="right fas fa-plus nav-icon"></i></p>
                            </a>
                            <% } %>
                        </li>
                        <% }) %>
                    </ul>
                </li>
                <% } %>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-terminal"></i>
                        <p>
                            Commands
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"><%= bot.categories.length %></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <% bot.categories.forEach(category => { %>
                        <%
                            let categoryNames = category;
                            let categoryCount = 0;
                            bot.commands.forEach(command => {
                                if(category == command.help.category) {
                                    categoryCount++;
                                }
                            });

                            if(category === 'nsfw') {
                                categoryNames = capA(categoryNames);
                            } else if(category.includes('_')) {
                                categoryNames = categoryNames.split('_');
                                for(let i = 0; i < categoryNames.length; i++) { categoryNames[i]=capL(categoryNames[i]); }
                                categoryNames = categoryNames.join(' ');
                            } else {
                                categoryNames = capL(categoryNames);
                            }
                        %>
                        <li class="nav-item">
                            <a href="/commands?cat=<%= category %>" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p><%= categoryNames %></p>
                                <span class="badge badge-info right"><%= categoryCount %></span>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>