<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <header>
        <a href="/" class="logo">Hinata Bot</a>
        <div class="header-right">
            <% if (user) { %>
            <p class="loggedIn">Logged in as
                <%= user.username %>#
                <%= user.discriminator %><img
                    src=" https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=128"
                    alt="<%= user.username %> Avatar" class="userAvatar" />
            </p>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
            <% } else { %>
            <a type="button" href="/login">Login</a>
            <% } %>
            <%- title === "Dashboard" ? "" : "" %>
        </div>
    </header>