<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${guild.name} Dashboard` }) %>

<body class="nav-fixed">
    <%- include('../partials/_navbar') %>

    <div id="layoutSidenav">
        <%- include('../partials/_sidebar') %>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10 fixed">
                    <div class="container">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon">
                                            <div class="avatar avatar-lg">
                                                <% if(guild.icon !== undefined && guild.icon !== null) { %>
                                                <img class="img-fluid avatar-img"
                                                    src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=32" />
                                                <% } else { %>
                                                <img class="img-fluid avatar-img"
                                                    src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png" />
                                                <% } %>
                                            </div>
                                        </div>
                                        <%= guild.name %>
                                    </h1>
                                    <div class="page-header-subtitle">Channel: <%= channel.name %></div>
                                </div>
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        Info
                                        <div class="page-header-icon">
                                            <div class="avatar avatar-lg">
                                                <i data-feather="info"></i>
                                            </div>
                                        </div>
                                    </h1>
                                    <% let parent = guild.channels.cache.get(channel.parentID) %>
                                    <div class="page-header-subtitle">NSFW: <%= channel.nsfw ? 'Yes' : 'No' %></div>
                                    <div class="page-header-subtitle">Category: <%= parent ? parent.name : 'None' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-n10">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card card-primary direct-chat direct-chat-primary">
                                <div class="card-body messages-card">
                                    <div class="direct-chat-messages">
                                        <% messages.sort((a, b) => a.createdTimestamp - b.createdTimestamp).forEach(message => { %>
                                        <% if(message.content.length > 0) { %>
                                        <% let mentionRegex = /[^A-Za-z ]/g %>
                                        <% let allMentions = [] %>
                                        <% let highestRoleClr %>
                                        <% if(message.mentions.users.size > 0) { %>
                                        <% message.mentions.users.forEach(user => { %>
                                        <% allMentions.push(user.username) %>
                                        <% }) %>
                                        <% allMentions = allMentions.join(', ') %>
                                        <% } %>

                                        <% if(message.author.id !== bot.user.id) { %>
                                        <% highestRoleClr = guild.members.cache.get(message.author.id).roles.highest.hexColor %>
                                        <% } %>
                                        <% if(message.author.id === user.id) { %>
                                        <div class="direct-chat-msg right">
                                            <div class="direct-chat-infos clearfix">
                                                <span class="direct-chat-name float-right">
                                                    <a
                                                        href="/guild/<%= guild.id %>/member/<%= message.author.id %>" style="color: <%= highestRoleClr %>"><%= message.author.username %></a>
                                                    <% if(message.mentions.users.size > 0) { %>
                                                    <span class="badge badge-sm badge-primary">Mentioned:
                                                        <%= allMentions %></span>
                                                    <% } %>
                                                </span>
                                                <span
                                                    class="direct-chat-timestamp float-left"><%= time(message.createdTimestamp) %></span>
                                            </div>
                                            <img class="direct-chat-img"
                                                src="https://cdn.discordapp.com/avatars/<%= message.author.id %>/<%= message.author.avatar %>?size=128"
                                                alt="Message User Image">
                                            <div class="direct-chat-text">
                                                <% if(message.mentions.users.size > 0) { %>
                                                <% message.content = message.content.replace(mentionRegex, '') %>
                                                <% } %>
                                                <%= message.content %>
                                            </div>
                                        </div>
                                        <% } else { %>
                                        <div class="direct-chat-msg">
                                            <div class="direct-chat-infos clearfix">
                                                <span class="direct-chat-name float-left">
                                                    <a
                                                        href="/guild/<%= guild.id %>/member/<%= message.author.id %>" style="color: <%= highestRoleClr %>"><%= message.author.username %></a>
                                                    <% if(message.mentions.users.size > 0) { %>
                                                    <span class="badge badge-sm badge-primary">Mentioned:
                                                        <%= allMentions %></span>
                                                    <% } %>
                                                </span>
                                                <span
                                                    class="direct-chat-timestamp float-right"><%= time(message.createdTimestamp) %></span>
                                            </div>
                                            <img class="direct-chat-img"
                                                src="https://cdn.discordapp.com/avatars/<%= message.author.id %>/<%= message.author.avatar %>?size=128"
                                                alt="Message User Image">
                                            <div class="direct-chat-text">
                                                <% if(message.mentions.users.size > 0) { %>
                                                <% message.content = message.content.replace(mentionRegex, '') %>
                                                <% } %>
                                                <%= message.content %>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <form method="POST" class="submit-message">
                                    <div class="input-group">
                                        <input type="text" name="message" class="form-control msg"
                                            placeholder="Your Message..." autocomplete="off">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-success lift lift-sm">Send</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/_footer') %>
        </div>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>