<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${guild.name} Dashboard` }) %>

<body class="nav-fixed">
    <%- include('../partials/_navbar') %>

    <div id="layoutSidenav">
        <%- include('../partials/_sidebar') %>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10 fixed">
                    <div class="container">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon">
                                            <div class="avatar avatar-lg">
                                                <i data-feather="align-left"></i>
                                            </div>
                                        </div>
                                        <%= channel.name %>
                                    </h1>
                                </div>
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        Info
                                        <div class="page-header-icon">
                                            <div class="avatar avatar-lg">
                                                <i data-feather="info"></i>
                                            </div>
                                        </div>
                                    </h1>
                                    <% let parent = guild.channels.cache.get(channel.parentID) %>
                                    <div class="page-header-subtitle">NSFW: <%= channel.nsfw ? 'Yes' : 'No' %></div>
                                    <div class="page-header-subtitle">Category: <%= parent ? parent.name : 'None' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-n10">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card card-scrollable">
                                <div class="card-body messages">
                                    <div class="timeline">
                                        <% messages.sort((a, b) => a.createdTimestamp - b.createdTimestamp).forEach(message => { %>
                                        <% if(message.content.length > 0) { %>
                                        <% if (message.author.id === user.id) { %>
                                        <div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text">
                                                    <%= time(message.createdTimestamp) %>
                                                </div>
                                                <div class="timeline-item-marker-indicator"><img
                                                        class="img-fluid avatar avatar-lg shadow-sm"
                                                        src="https://cdn.discordapp.com/avatars/<%= message.author.id %>/<%= message.author.avatar %>.png?size=128">
                                                </div>
                                            </div>
                                            <div class="timeline-item-content pt-0">
                                                <div class="card rounded shadow-sm p-3 mb-3">
                                                    <div class="card-body">
                                                        <h6><%= message.author.username %>#<%= message.author.discriminator %>
                                                        </h6>
                                                        <%= message.content %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } else { %>
                                        <div class="timeline-item">
                                            <div class="timeline-item-marker">
                                                <div class="timeline-item-marker-text">
                                                    <%= time(message.createdTimestamp) %>
                                                </div>
                                                <div class="timeline-item-marker-indicator"><img
                                                        class="img-fluid avatar avatar-lg shadow-sm"
                                                        src="https://cdn.discordapp.com/avatars/<%= message.author.id %>/<%= message.author.avatar %>.png?size=128">
                                                </div>
                                            </div>
                                            <div class="timeline-item-content pt-0">
                                                <div class="card rounded p-3 mb-3">
                                                    <div class="card-body">
                                                        <h6><%= message.author.username %>#<%= message.author.discriminator %>
                                                        </h6>
                                                        <%= message.content %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <form method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <input type="text" name="message" class="form-control"
                                                    placeholder="Your Message...">
                                                <button type="submit" class="btn btn-success lift lift-sm">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/_footer') %>
        </div>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>