<%- include('../partials/header', { bot, user, path, title: 'Dashboard' }) %>

<% user.guilds.forEach(guild => {
    const permsOnGuild = new perms(guild.permissions);
    if(!permsOnGuild.has('MANAGE_GUILD')) return;
    %>
    <hr />
    <p><%= guild.name %></p>
    <% if(bot.guilds.cache.get(guild.id)) { %>
        <a href="/dashboard/<%= guild.id %>">Edit Settings</a>
    <% } else { %>
        <a href="<%= `https://discord.com/api/oauth2/authorize?client_id=${bot.user.id}&guild_id=${guild.id}&scope=bot&response_type=code&redirect_uri=${encodeURIComponent(`${process.env.DOMAIN}${process.env.PORT == 80 ? "" : `:${process.env.PORT}`}/callback`)}` %>">Add Bot</a>
    <% } %>
    <% }); %>
<%- include('../partials/footer') %>