<html lang="en">
<%- include('../partials/_head', { bot, user, path, query, title: 'Error' }) %>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%- include('../partials/_navbar') %>
        <%- include('../partials/_sidebar') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Error</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-warning"></h2>
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops!</h3>

                        <p>
                            , <a href="/">return to dashboard</a>.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../partials/_footer') %>
    </div>
    <%- include('../partials/_scripts') %>
</body>

</html>