<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${bot.user.username} Home` }) %>

<body class="nav-fixed">
    <%- include('../partials/_navbar') %>

    <div id="layoutSidenav">
        <%- include('../partials/_sidebar') %>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                    <div class="container">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="music"></i></div>
                                        <%= musicQueue.playing ? 'Currently Playing' : 'Paused' %>
                                    </h1>
                                    <div class="page-header-subtitle"><%= musicQueue.songs[0].title %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container">
                    <div class="row">
                
                    </div>
                </div>
            </main>

            <%- include('../partials/_footer') %>
        </div>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>