<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: 'Home' }) %>

<body>
    <div class="container-scroller">

        <%- include('../partials/_navbar') %>

        <div class="container-fluid page-body-wrapper">

            <%- include('../partials/_sidebar') %>

            <div class="main-panel">

                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-sm-flex aligh-items-baseline report-summary-header">
                                                <h5 class="font-weight-semibold">Bot information</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row report-inner-cards-wrapper">
                                        <div class="col-md-6 col-xl report-inner-card">
                                            <div class="inner-card-text">
                                                <span class="report-title">Bot Status</span>
                                                <h4><%= bot.presence.status %></h4>
                                            </div>
                                            <div class="inner-card-icon bg-success">
                                                <i class="icon-feed"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl report-inner-card">
                                            <div class="inner-card-text">
                                                <span class="report-title">Servers Count</span>
                                                <h4><%= bot.guilds.cache.size %></h4>
                                            </div>
                                            <div class="inner-card-icon bg-success">
                                                <i class="icon-list"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl report-inner-card">
                                            <div class="inner-card-text">
                                                <span class="report-title">Users Count</span>
                                                <h4><%= bot.users.cache.size %></h4>
                                            </div>
                                            <div class="inner-card-icon bg-success">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../partials/_footer') %>

            </div>
        </div>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>