<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${bot.user.username} Home` }) %>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <%- include('../partials/_navbar') %>

        <%- include('../partials/_sidebar') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Bot Information</h1>
                        </div>
                    </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <% if(bot.presence.status === 'online') { %>
                            <div class="info-box bg-gradient-green">
                                <% } else if(bot.presence.status === 'idle') { %>
                                <div class="info-box bg-gradient-yellow">
                                    <% } else if(bot.presence.status === 'dnd') { %>
                                    <div class="info-box bg-gradient-danger">
                                        <% } %>

                                        <span class="info-box-icon"><i class="fas fa-terminal"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Bot Status</span>
                                            <% if(bot.presence.status === 'dnd') { %>
                                            <span class="info-box-number"><%= capA(bot.presence.status) %></span>
                                            <% } else { %>
                                            <span class="info-box-number"><%= capL(bot.presence.status) %></span>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box bg-gradient-info">
                                        <span class="info-box-icon"><i class="fas fa-list-ul"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Server Count</span>
                                            <span class="info-box-number"><%= bot.guilds.cache.size %> Servers</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box bg-gradient-success">
                                        <span class="info-box-icon"><i class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">User Count</span>
                                            <span
                                                class="info-box-number"><%= bot.users.cache.filter(u => !u.bot).size %>
                                                Users</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
        </div>
    </div>

    <%- include('../partials/_footer') %>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>