<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${user.username}'s Profile` }) %>

<body class="nav-fixed">
    <%- include('../partials/_navbar') %>
    <div id="layoutSidenav">
        <%- include('../partials/_sidebar') %>
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark pb-10 fixed" style="background-color: <%= color %>">
                    <div class="container">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <% if(member.user.id === member.guild.ownerID) { %>
                                    <span class="badge badge-sm badge-danger">Guild Owner</span>
                                    <% } %>
                                    <% if(member.user.id === ownerID) { %>
                                    <span class="badge badge-sm badge-danger">Bot Owner</span>
                                    <% } %>
                                    <% if(member.user.id !== ownerID && member.user.id !== member.guild.ownerID) { %>
                                    <span class="badge badge-sm badge-success">Guild Member</span>
                                    <% } %>

                                    <h1 class="page-header-title">
                                        <div class="page-header-icon">
                                            <div class="avatar avatar-lg">
                                                <% if(member.user.avatar !== undefined && member.user.avatar !== null) { %>
                                                <img class="img-fluid avatar-img"
                                                    src="https://cdn.discordapp.com/avatars/<%= member.user.id %>/<%= member.user.avatar %>?size=64" />
                                                <% } else { %>
                                                <img class="img-fluid avatar-img"
                                                    src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png" />
                                                <% } %>
                                            </div>
                                        </div>
                                        <%= member.user.username %>
                                    </h1>
                                    <div class="page-header-subtitle"><%= member.user.discriminator %></div>
                                </div>
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        Actions
                                    </h1>
                                    <div class="page-header-subtitle">
                                        <button title="Kick User"
                                            class="btn lift lift-sm bg-success btn-icon mr-2 guild-kick-member"
                                            type="button"><i class="fas fa-user-slash"></i></button>
                                        <button title="Ban User"
                                            class="btn lift lift-sm bg-danger btn-icon guild-ban-member">
                                            <i class="fas fa-gavel"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-n10">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Status</h5>
                                                <span class="description-text"><%= status %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Activity</h5>
                                                <span class="description-text"><%= activity.type %>
                                                    <%= activity.name %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">ID</h5>
                                                <span class="description-text"><%= member.user.id %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Nickname</h5>
                                                <span
                                                    class="description-text"><%= member.nickname ? member.nickname : 'None' %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Highest Role</h5>
                                                <span class="description-text"><%= member.roles.highest.name %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">Member Since</h5>
                                                <span
                                                    class="description-text"><%= new Date(member.joinedTimestamp).toDateString() %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/_footer') %>
        </div>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>