<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${user.username}'s Profile` }) %>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%- include('../partials/_navbar') %>
        <%- include('../partials/_sidebar') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-widget widget-user">
                                <div class="widget-user-header" style="background-color: <%= color %>">
                                    <h3 class="widget-user-username"><%= user.username %></h3>
                                    <h5 class="widget-user-desc"><%= user.discriminator %></h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle elevation-2"
                                        src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=128"
                                        alt="User Avatar" />
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">ID</h5>
                                                <span class="description-text"><%= user.id %></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Activity</h5>
                                                <span class="description-text"><%= activity.type %>
                                                    <%= activity.name %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">Status</h5>
                                                <span class="description-text"><%= status %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Two-Factor Autehntication</h5>
                                                <span class="description-text"><span
                                                        class="description-text"><%= user.mfa_enabled ? 'Enabled' : 'Disabled' %></span></span>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">Discord Title</h5>
                                                <span class="description-text"><%= title %></span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">Subscription</h5>
                                                <span class="description-text"><%= premium %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/_footer') %>
    </div>

    <%- include('../partials/_scripts') %>
</body>

</html>