<html lang="en">
<%- include('../partials/_head', { bot, user, path, title: `${guild.name} Settings`}) %>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%- include('../partials/_navbar') %>
        <%- include('../partials/_sidebar') %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1><%= guild.name %> Settings</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Prefix</h3>
                                </div>

                                <form role="form" method="POST">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="prefix"
                                                placeholder="Current prefix is '<%= settings.prefix %>'">
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Roles</h3>
                                </div>

                                <form role="form" method="POST">
                                    <div class="card-body">
                                        <% for (let i = 1; i <= Object.keys(settings.roles).length - 1; i++) { %>
                                        <div class="form-group">
                                            <label for="role<%= i %>"><%= capL(Object.keys(settings.roles)[i]) %>
                                                Role</label>
                                            <input type="text" class="form-control" name="role<%= i %>"
                                                placeholder="Current value is '<%= Object.values(settings.roles)[i] %>'">
                                        </div>
                                        <% } %>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Channels</h3>
                                </div>

                                <form role="form" method="POST">
                                    <div class="card-body">
                                        <% for (let j = 1; j <= Object.keys(settings.channels).length - 1; j++) { %>
                                        <div class="form-group">
                                            <label for="channel<%= j %>"><%= capL(Object.keys(settings.channels)[j]) %>
                                                Channel</label>
                                            <input type="text" class="form-control" name="channel<%= j %>"
                                                placeholder="Current value is '<%= Object.values(settings.channels)[j] %>'">
                                        </div>
                                        <% } %>
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <% if(alertMessage) {
                            req.toastr.success(alertMessage);
                        } %>
            </section>
        </div>
        <%- include('../partials/_footer') %>
    </div>
    <%- include('../partials/_scripts') %>
    <%- req.toastr.render() %>
</body>

</html>